<footer class="footer">
    <a class="footer__scrollup-link" href=#top>
      <img class="footer__scrollup-icon" src="assets/images/ico-arrow.svg" alt="icono para acceder al inicio de la página">
    </a>
    <div class="page__wrapper">
      <div class="footer__flex-container">
        <nav class="footer__menu">
          <ul class="footer__menu-containter">
            <li class="footer__menu-item"><a class="footer__link" href="#articles">articles</a></li>
            <li class="footer__menu-item"><a class="footer__link" href="#books">books</a></li>
            <li class="footer__menu-item"><a class="footer__link" href="#events">events</a></li>
            <li class="footer__menu-item"><a class="footer__link" href="#reasons">reasons</a></li>
            <li class="footer__menu-item"><a class="footer__link" href="#tips">tips</a></li>
          </ul>
        </nav>
        <div class=footer__social-links>
          <ul class="footer__social-container">
            <li class="footer__social-item"><a class="footer__link" href="#twitter">twitter</a></li>
            <li class="footer__social-item"><a class="footer__link" href="#instagram">instagram</a></li>
            <li class="footer__social-item"><a class="footer__link" href="#mastodon">mastodon.social</a></li>
          </ul>
        </div>
        <div class=footer__small-elements>
          <div class=footer__small-year>©2017</div>
          <div class=footer__small-slogan>we<span class="footer__color-heart"> ❤︎</span>components</div>
        </div>
      </div>
    </div>
  </footer>
  