<div class="hero" id="top">
    <div class="titles_container">
      <h1 class="hero__title">
        anonymous proxy
      </h1>
      <h2 class="hero__subtitle">
        In hac habitasse platea dictumst.
      </h2>
    </div>
    <div class="hero__arrow-containter">
      <div class="hero__arrow">
        <a class="hero__arrow-link" href="#3reasons">
          <img class="hero__scrolldown-icon" src="assets/images/ico-scroll-down.svg"
            alt="icono de acceso a contenido principal">
        </a>
      </div>
    </div>
  </div>
