<section class="reasons" id="3reasons">
    <article class="page__wrapper">
      <h4 class="articler__title">3 reasons to purchase</h4>
      <ul class="article__reasons-container">
        <li class="article__reasons-item col1">
          <div class="article__item-container">
            <h5 class="article__reasons-title">Ut sed metus</h5>
            <p class="article__reasons-text">Lorem ipsum dolor sit amet, consecteur.</p>
          </div>
        </li>
        <li class="article__reasons-item col2">
          <div class="article__item-container">
            <h5 class="article__reasons-title">Curabitur ac erat</h5>
            <p class="article__reasons-text">Mauris mattis urna quis lorem molestie.</p>
          </div>
        </li>
        <li class="article__reasons-item col3">
          <div class="article__item-container">
            <h5 class="article__reasons-title">Morbi dictum</h5>
            <p class="article__reasons-text">Aliquam in dolor et dolor tincidunt.</p>
          </div>
        </li>
      </ul>
      <button class="article__more-button">More reasons</button>
    </article>
</section>