<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Anonymous Proxity</title>
    
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
  </head>
  <body class="body">
      <partial src="_header.html" label="Header"></partial>
      <main class="main">
        <partial src="_hero.html" label="Hero"></partial>
        <partial src="_window.html" label="Window"></partial>
        <partial src="_reasons.html" label="Reasons"></partial>
      </main>
      <partial src="_footer.html" label="Footer"></partial>
      <script src="../assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
