.main{
    margin:0;
    padding:0;
  }
  .page__wrapper{
    margin:0 15px;
    @media all and (min-width:768px) {
      margin:0 40px;
    }
    @media all and (min-width:1200px) {
      max-width:730px;
      margin:0 auto;
    }
  }