/*colors*/
$color-white: #ffffff;
$color-brightorange:#f26002;
$color-iceblue:#eff9ff;
$color-lightblue:#8ccbea;
$color-cerulean:#0271bc;
$color-dark-grey-blue:#304268;
$color-greyish-brown:#4a4a4a;
$color-black:black;

/*fonts*/
$font-title:'Roboto Slab', serif;
$font-text:'Roboto', sans-serif;
